---
layout: page
---

{% include JB/setup %}

		<div id="Carousel" class="carousel slide">
			<!--  Carousel items -->
			<div class="carousel-inner">
				{% for post in site.posts %}
			    <div class="item" id="{{ forloop.index }}">
			    	<a href="{{ BASE_PATH }}{{ post.url }}/index.html"><img src="{{ BASE_PATH }}/{{ ASSET_PATH}}/images{{ post.url }}/1.jpg"></a>
			    	<div class="carousel-caption">
			    		<h4>{{ post.title }}</h4>
			    	</div>
			    </div>
			    {% endfor %}
		    </div>
	 		<!-- carousel nav -->
			<a class="carousel-control left" href="#Carousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#Carousel" data-slide="next">&rsaquo;</a>
		</div>

		<!-- scripts necessary for this page -->
	   	<script type="text/javascript">

	   	//initialize the carousel
		$(function(){
		   $('.Carousel').carousel();
		});

		//set the first item in the carousel to be the active item
		$(document).ready( function() {
			$('#1').attr('class', 'active-item');
		});
		</script>