/* Override some defaults. */
html, body {
  height: 100%;
  background-color: #eee;
}

/* Making navbar look good. */
.navbar {
  margin-bottom: 0;
}

#main{
	padding-top: 40px;
}

/* Cleaning up the footer, customizing it. */
footer {
  margin-top: 20px;
  padding-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 15px;
  border-top-color: #DDD;
  border-top-width:  1px;
  border-top-style: solid;
}

footer p {
  color: #BBB;
  font-size: 10px;
}

footer p strong {
	font-weight: normal;
	float: right;
}

/* Contact info dropwdown overrides. */
.dropdown-menu{
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.dropdown-menu h4{
	color: #777;
	padding-bottom: 5px;
}

/* Properly sizing thumbnail images. */
#thumbnails img{
	width: 50px;
	height: 50px;
	overflow: hidden;
}

/* Interactibility of thumbnail images. */
.thumb, .thumb-active{
	float: left;
}

.thumb img{
	border-style: solid;
	border-width: 2px;
	border-color: #EEE;
}

.thumb-active img{
 	border-style: solid;
	border-color: #AAA;
	border-width: 2px;
 }

.thumb img:hover{
	border-color: #DDD;
	border-width: 2px;
	border-style: solid;
}

/* Align images in the Carousel */
.item{
	text-align: center;
}

/* Sizing of the images on main page */
.item img{
	height: 600px;
}
