{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ BASE_PATH }}/{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/{{ ASSET_PATH }}/css/style.css" rel="stylesheet">

    <!-- scripts, need to load two first because others rely on them. -->
    {% include JB/analytics %}
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/jquery.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/post.js"></script>
  </head>

  <body>

    <!-- navbar for the site -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">

          <!-- home link -->
          <a class="brand" href="{{ BASE_PATH }}/index.html">{{ site.title }}</a>

          <!-- for each page in the 'navigation' group, it creates a link using the pages' title -->
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>

          <!-- dropdown for Maria's contact info -->
          <ul class="nav pull-right">
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
              <ul class="dropdown-menu">
                <h4>Maria McGuckian</h4>
                <h5>+001 416 123 4567</h5>
                <h5>maria.mcguckiansmith@gmail.com</h5>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- end navbar -->

    <!-- main content -->
    <div class="container" id="main">
      {{content}}
    </div>

    <!-- footer for the site -->
    <footer class="footer">
      <p>&copy; {{ site.author.name }} 2012 <strong> +1 (416) 123 4567 | maria.mcguckiansmith@gmail.com | Toronto, Canada |</strong>
      </p>
    </footer>

    <!-- load rest of scripts here -->
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-alert.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-modal.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-tab.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-popover.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-typeahead.js"></script> 
  </body>
</html>
