---
layout: default
---

{% include JB/setup %}

<div class="row">
    <div class="span3">
      <div class="row">
        <div class="span3">
          <h3>{{page.title}}</h3> <!-- need this to be dynamic -->
          <p>{{content}}</p> <!-- needs to be dynamic -->
        </div>
      </div>
      <div class="row">
        <div class="span3" id="thumbnails"></div>
      </div>
    </div>
    <div class="span9">
      <div id="preview-pane">
        <img src="{{ BASE_PATH }}/{{ ASSET_PATH }}/images{{ page.id }}/1-img.jpg" id="preview-image">
      </div>
    </div>
</div>

<script>
  //loads thumbnails
  $(document).ready(function() {
    createThumbnails( "{{ BASE_PATH }}/{{ ASSET_PATH }}/images{{ page.id }}" , 1 );
  });

  //handles thumbnail activity
  $('#thumbnails').delegate('img', 'click', function() {

    //changes the preview pane to appropriate image
    $('#preview-image').attr('src', $(this).attr('src').replace('thumb', 'img'));

    //makes the clicked thumbnail the bordered one, removes border from last active thumbnail
    $('.thumb-active').attr('class', 'thumb');
    $(this).parent().attr('class', 'thumb-active');

  });
</script>